@import '../../style/Constants.css';

/* Button
-------------------------------------------------------------------------------- */
.Button {
  position: relative;
  display: inline-block;
  padding: 25px 120px 25px 60px;
  margin: 15px 30px;
  border: none;
  background: $colorGreen;
  cursor: pointer;
	overflow: hidden;

  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: inherit;
  font-weight: 700;

  outline: none;
  transition: all 0.3s;

  &:hover {
    background: #8ac3be;

    &:after {
      width: 40%;
    }
  }
}

.Button:after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
  width: 30%;
  height: 200%;
  background: rgba(255,255,255,0.1);
  z-index: 1;
  right: 0;
  top: 0;
  margin: -5px 0 0 -5px;
  transform-origin: 0 0;
  transform: rotate(-20deg);
}

.Button:before {
  content: '';
  position: absolute;
  height: 100%;
  left: auto;
  right: 10px;
  top: 0;

  line-height: 3;
  font-size: 140%;
  width: 60px;
  z-index: 2;
}
