@import '../../style/Constants.css';

::selection {
  color: $colorWhite;
  background: $colorRed;
  text-shadow: none;
}

/* Fonts
-------------------------------------------------------------------------------- */
@font-face {
  font-family: 'Freight Sans';
  font-style: normal;
  font-weight: 400;
  src:
    url('../../assets/Fonts/freigsanprobook-webfont.woff2') format('woff2'),
    url('../../assets/Fonts/freigsanprobook-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Freight Sans';
  font-style: normal;
  font-weight: 600;
  src:
    url('../../assets/Fonts/freigsanprobold-webfont.woff2') format('woff2'),
    url('../../assets/Fonts/freigsanprobold-webfont.woff') format('woff');
}


@font-face {
  font-family: 'Noway';
  font-style: normal;
  font-weight: 400;
  src: 
    url('../../assets/fonts/Noway/noway-regular-webfont.woff2') format('woff2'),
    url('../../assets/fonts/Noway/noway-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Noway';
  font-style: normal;
  font-weight: 500;
  src: 
    url('../../assets/fonts/Noway/noway-medium-webfont.woff2') format('woff2'),
    url('../../assets/fonts/Noway/noway-medium-webfont.woff') format('woff');
}

/* Elements
-------------------------------------------------------------------------------- */
html {
  background-color: $colorBG;
  background-size: 100%, 100px auto;
  font-family: 'Noway', sans-serif;
  font-size: 16px;
  min-height: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
}

body {
  font-size: 100%;
  line-height: calc(22 / 16);
  margin: 0;
  min-height: 100%;
}

a {
  background-color: transparent;
  color: currentColor;
  display: inline-block;
  outline: 0;
  text-decoration: underline;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

h1,
h2,
h3 {
  font-size: 100%;
  font-weight: 700;
  line-height: inherit;
  margin: 0;
}

p {
  font-size: 100%;
  line-height: inherit;
  margin: 0;
}