@import '../../style/Constants.css';

.Main {
  box-sizing: border-box;
  background-color: $colorWhite;
  height: calc(100vh - ($navbarHeight + 20px));
  width: calc(100vw - 40px);
  margin: 0 auto 20px;
  padding: 65px 0;
}
