@import '../../style/Constants.css';

/* Copy
-------------------------------------------------------------------------------- */
.Copy {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.Copy > * {
  margin-top: 20px;
}

.Copy p {
  margin-top: 20px;
}

.Copy ul {
  list-style-position: inside;
  list-style-type: disc;
}

.Copy-title {
  font-size: 14px;
  font-weight: 700;
  line-height: calc(24 / 20);
  padding-top: 15px;
  position: relative;

  /*@media (--bpAbove) {
    font-size: 30px;
    line-height: calc(38 / 30);
  }*/
}

.Copy-content > a:not(.Button) {
  text-decoration: underline;
  transition: color .2s;
}

.not-ios .Copy-content > a:not(.Button):hover,
.Copy-content > a:not(.Button):focus {
}
