@import '../../style/Constants.css';

.Navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Navbar-nav {
  ul {
    display: flex;
    flex-direction: row;
  }

  li {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }

  li + li {
    border-left: none;
  }

  a {
    padding: 50px 10px;
    width: 140px;
    text-align: center;
    text-decoration: none;
  }
}
