@import 'Constants.css';

::selection {
  /*background: var(--colorPurple);
  color: var(--colorWhite);*/
  text-shadow: none;
}

/* Fonts
-------------------------------------------------------------------------------- */
/*@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/OpenSans-Regular.woff2') format('woff2'), url('./fonts/OpenSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/OpenSans-Italic.woff2') format('woff2'), url('./fonts/OpenSans-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/OpenSans-Bold.woff2') format('woff2'), url('./fonts/OpenSans-Bold.woff') format('woff');
}*/

/* Elements
-------------------------------------------------------------------------------- */
html {
  background-color: var(--colorBG);
  /*background-image: linear-gradient(to top, rgba(209, 238, 236, .75), rgba(209, 238, 236, 1)), url('./images/pattern.png');*/
  background-size: 100%, 100px auto;
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
}

body {
  color: var(--colorPurple);
  font-size: 100%;
  line-height: calc(22 / 16);
  margin: 0;
  min-height: 100%;
}

a {
  background-color: transparent;
  color: currentColor;
  display: inline-block;
  outline: 0;
  text-decoration: underline;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

h1,
h2,
h3 {
  font-size: 100%;
  font-weight: 700;
  line-height: inherit;
  margin: 0;
}

p {
  font-size: 100%;
  line-height: inherit;
  margin: 0;
}
