.Canvas {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.Canvas-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Canvas-content-central {
  position: absolute;
  top: 30%;
  left: 20%;
  color: white;
}

.Canvas-content-central span {
  font-size: 58px;
  font-weight: 600;
}

.Canvas-bg {
  height: 100vh;
  width: 100%;
}

html {
  background: #202326;
}

.Canvas-cotent-social {
  position: absolute;
  right: 15%;
  top: 140px;
  color: white;
}