@import '../../style/Constants.css';

/* Landing
-------------------------------------------------------------------------------- */
.Landing {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 1024px;
  margin: 0 auto;
}

.Landing-content {
  max-width: 450px;
  margin-left: auto;
}

.Landing-intro {
  // top: 30%;
  color: white;

  h1 {
    color: $colorHeader;
    font-weight: 400;
    font-size: 4.2rem;
  }

  p {
    font-size: 22px;
    font-weight: 400;
    color: $colorText;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  p span {
    color: $colorAction;
    // font-size: 16px;
    letter-spacing: 0.4px;
  }
}

.Landing-social {
  position: absolute;
  right: 15%;
  top: 140px;
  color: white;
}