@import '../../style/Constants.css';

.Sub {
  position: relative;
  display: inline-block;
  color: rgba($colorGray, 0.6);
  padding-bottom: 4px;
  /*border-bottom: 4px solid $colorRed;*/

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: $colorRed;
    transition: width 0.3s;
  }

  &:hover:after {
    width: calc(100% + 10px);
  }
}
